.top {
    
    margin: 0px;
    background-color:#caf7e3;
    position: relative;
    padding-top: 100px;    
}

body {
    margin: 0px;
    text-align: center;
    font-family:serif;
}
h1 {
    font-family: 'Dancing Script', cursive;    
    margin: 50px auto 0px auto;
    font-size: 5.65rem;
    color: #66bfbf;
    
}

h2 {
    font-size: 2.5rem;
    font-family: 'Dancing Script', cursive;
    font-weight: normal;
    color: #66bfbf;
    
}
h3 {
    color: #11999e;
}
.middle {
    
    margin: 100px auto 100px auto;    
    
    position: relative;
    
}


.bottom-cloud{
    position: absolute;
    left:300px;
    bottom: 300px;
}

.top-cloud{
    position:absolute;
    top:50px;
    
    right:300px;    
    
    
}
.skill-row {
    margin:100px auto 100px auto;
    width: 50%;
    line-height: 2;
    text-align: left;
    
    
}
.code-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}
.croco {
    width: 25%;
    float:right;
    margin-left: 30px;
}
hr {
    border-style: dotted none none;
    border-width: 10px;
    width: 10%;
    color:#EAF6F6;
    
}
.skill-title{
    color: #11999E;
}
.contact-me{
    line-height: 2;
}

.btn {
    padding: 6px;
    background-color: #66bfbf;
    border-radius: 6%;
    text-decoration: none;
    color: white;
}
.bottom-container{
    background-color:#66bfbf;
    margin:5% auto 0px auto;
    padding-top: 2%;
    
    line-height: 2;   
    
}
.copyright{
    margin: 0px;
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px;
    

}
.footer-link {
    color: #11999e;
    text-decoration: none;
    margin: auto 20px auto 20px;
}
.profile {
    color: #40514e;
    
}
.intro {
    width: 30%;
    margin:auto;
}
a:hover{
    color:#EAF6F6;
}